<div class="container mt-4">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th class="nowrap">ユーザーネーム</th>
          <th></th>
          <th class="nowrap">お気に入りドリンク</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <tr>
            <td class="nowrap"><%= image_tag user.get_profile_image(100, 100),class:"rounded" %></td>
            <td class="nowrap"><%= link_to user.name, user_path(user) %></td>
            <td class="nowrap"><%= image_tag user.get_favorite_drink_image(100, 100),class:"rounded" %></td>
            <td class="nowrap"><%= user.favorite_drink %></td>
            <td class="nowrap">フォロー:</td>
            <td class="nowrap following_count-<%= user.id %>"><%= render "public/relationships/following_count", user: user %></td>
            <td class="nowrap">フォロワー:</td>
            <td class="nowrap follower_count-<%= user.id %>"><%= render "public/relationships/follower_count", user: user %></td>
            <td class="nowrap" id="follow-contents-<%= user.id %>"><%= render "public/relationships/btn", user: user, options: { class: "" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate users %>
</div>
